
/* Main */
@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text&display=swap');
div {
  margin: 0;
  font-family:'Big Shoulders Text', cursive;
}


body {
  font-family: 'Gugi', cursive;
  margin: 0;
  background-color: whitesmoke;
}

header {
  height: 100px;
  display: flex;
  align-items: center;
  background:#ff1a8c;  /* fallback for old browsers */
  
  background: -webkit-linear-gradient(to right, #660033,#ff1a8c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #660033,#ff1a8c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.meme {
  position: relative;
  width: 90%;
  margin: auto;
}

.meme > img {
  width: 80vw;
  height:80vh;
}

.meme > h2 {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.meme > .bottom {
  bottom:0;
  margin-bottom:-30%;
  
}

.meme > .top {
  top: 0;
  margin-top:-10%;
}

.meme-form {
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.meme-form > input {
  width: 45%;
  height:40px;
}

.meme-form > input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
font-family: VT323, monospace;
font-size: 110%;
text-align: cen
}
.meme-form > input::-moz-placeholder { /* Firefox 19+ */
font-family: VT323, monospace;
font-size: 110%;
text-align: cen
}
.meme-form > input:-ms-input-placeholder { /* IE 10+ */
font-family: VT323, monospace;
font-size: 110%;
text-align: cen
}
.meme-form > input:-moz-placeholder { /* Firefox 18- */
font-family: VT323, monospace;
font-size: 40px;
text-align: cen
}
/* STYLE FOR DRAGNDROP IMAGE*/


.drop > h2 {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 3vw;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.drop > .bottom {
  
  bottom: 0;
  margin-bottom: -25%;
  
}

.drop > .top {
  top: 0;
  margin-top: 15rem
  
}

@media(max-width: 768px){
  .drop > .bottom{
    margin-bottom: -20%;
  }
}




